*{
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

h1{
    background: red;
    height:100px;
    text-align: center;
}

#main{
    background-color: green;
    min-height: calc(100% - 100px - 25px - 60px);
    width: 100%;
    display: block;
}

ul{
    background-color: yellow;
    list-style-type: none;
    height: 25px;
    text-align: center;
}

footer{
    background-color: pink;
    height: 60px;
    text-align: center;
}
